<launch>

  <arg name="robot_ip" />
  <arg name="report_type" default="none" />
  <!-- load the default move_group planner (not xarm_simple_planner) -->
  <arg name="show_rviz" default="true" />
  <!-- NO_GUI_CTRL means that Rviz configuration is just for display purpose, no (Moveit) control panel loaded -->
  <arg name="no_gui_plan" default="false" />
  <arg name="xarm_hw_ns" default="xarm" />
  <arg name="ext_ns" default="" />
  <arg name="velocity_control" default="false"/>
  <arg name="enforce_limits" default="true" />  <!-- IR: urdf generated w/ limited=false? -->
  <arg name="add_gripper" default="true" doc="If true, will load xarm5 with gripper from UFACTORY attached." />
  <arg name="joint_state_source" default="[/xarm/joint_states]" />
  <arg name="joint_state_publisher_gui" default="false" />

  <!-- xArm gripper baudrate checking configurations -->
  <arg name="baud_checkset" default="true" />
  <arg name="default_gripper_baud" default="2000000" />

  <include file="$(find xarm_description)/launch/xarm7_upload.launch">
    <arg name="limited" value="$(arg enforce_limits)"/>
    <arg name="add_gripper" value="$(arg add_gripper)" />
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <rosparam param="source_list" subst_value="True">$(arg joint_state_source)</rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- common: bring up node to enable real xArm control -->
  <include file="$(find xarm_bringup)/launch/xarm7_server.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="report_type" value="$(arg report_type)" />
    <arg name="use_moveit" value="true" />
    <arg name="ns" value="$(arg xarm_hw_ns)" />
    <arg name="use_gripper_action" value="true" />
  </include>

  <rosparam file="$(find xarm_controller)/config/xarm7_traj_controller.yaml" command="load" ns="$(arg xarm_hw_ns)"/>

  <arg name="xarm_traj_controller" value="$(eval 'xarm7_traj_controller_velocity' if arg('velocity_control') else 'xarm7_traj_controller')" />
  <node
    name="traj_controller_spawner"
    pkg="controller_manager"
    type="spawner"
    respawn="false"
    output="screen"
    ns="$(arg xarm_hw_ns)"
    args="xarm7_traj_controller"/>

  <remap from="/follow_joint_trajectory" to="$(arg xarm_hw_ns)/$(arg xarm_traj_controller)/follow_joint_trajectory"/>

</launch>
